flows.json
[
    {
        "id": "c0aa6517ae519345",
        "type": "tab",
        "label": "Temps",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b6425e9b5cb50dc2",
        "type": "tab",
        "label": "Electrical",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "883f2d8823c913b4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "01b1a2905e3bf7da",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "18d6ce65ab6fff7f",
        "type": "ui_group",
        "name": "Default",
        "tab": "883f2d8823c913b4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7066300741c707c9",
        "type": "influxdb",
        "hostname": "192.168.178.84",
        "port": "8086",
        "protocol": "http",
        "database": "temperatures",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "2e2a861098ab57de",
        "type": "modbus-client",
        "name": "WP",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "even",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "2",
        "commandDelay": "1",
        "clientTimeout": "2000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "74b8b66c5bb90771",
        "type": "rpi-ds18b20",
        "z": "c0aa6517ae519345",
        "topic": "",
        "array": false,
        "name": "",
        "x": 370,
        "y": 900,
        "wires": [
            [
                "5d87eb5a6e3a205a"
            ]
        ]
    },
    {
        "id": "0b01ade9b0ec0818",
        "type": "inject",
        "z": "c0aa6517ae519345",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 900,
        "wires": [
            [
                "74b8b66c5bb90771"
            ]
        ]
    },
    {
        "id": "80e8bd8718908084",
        "type": "influxdb out",
        "z": "c0aa6517ae519345",
        "influxdb": "7066300741c707c9",
        "name": "Vorlauftemperatur",
        "measurement": "Vorlauftemperatur",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 630,
        "y": 940,
        "wires": []
    },
    {
        "id": "5d87eb5a6e3a205a",
        "type": "switch",
        "z": "c0aa6517ae519345",
        "name": "Split",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "A6547F020800",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "D6AC18040000",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "18587F020800",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 370,
        "y": 1040,
        "wires": [
            [
                "80e8bd8718908084"
            ],
            [
                "1312134b85a62351"
            ],
            [
                "1d0535920ed40d1f"
            ]
        ]
    },
    {
        "id": "1d0535920ed40d1f",
        "type": "influxdb out",
        "z": "c0aa6517ae519345",
        "influxdb": "7066300741c707c9",
        "name": "Rücklauftemperatur",
        "measurement": "Rücklauftemperatur",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 630,
        "y": 1120,
        "wires": []
    },
    {
        "id": "1312134b85a62351",
        "type": "influxdb out",
        "z": "c0aa6517ae519345",
        "influxdb": "7066300741c707c9",
        "name": "Außentemperatur",
        "measurement": "Außentemperatur",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 630,
        "y": 1040,
        "wires": []
    },
    {
        "id": "c62e4c44e43ab280",
        "type": "inject",
        "z": "b6425e9b5cb50dc2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "fb685c9e0af6a9b6",
                "8dd2e8858f92df93"
            ]
        ]
    },
    {
        "id": "fb685c9e0af6a9b6",
        "type": "modbus-getter",
        "z": "b6425e9b5cb50dc2",
        "name": "Frequenz",
        "showStatusActivities": true,
        "showErrors": false,
        "logIOActivities": false,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "20",
        "quantity": "2",
        "server": "2e2a861098ab57de",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "c40e5881e5ac8c25"
            ],
            []
        ]
    },
    {
        "id": "cbc0c3d0778d72dd",
        "type": "debug",
        "z": "b6425e9b5cb50dc2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "c40e5881e5ac8c25",
        "type": "buffer-parser",
        "z": "b6425e9b5cb50dc2",
        "name": "WP converter",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Frequenz",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 640,
        "y": 300,
        "wires": [
            [
                "e91083c27909a2f9"
            ]
        ]
    },
    {
        "id": "8dd2e8858f92df93",
        "type": "modbus-getter",
        "z": "b6425e9b5cb50dc2",
        "name": "Spannung",
        "showStatusActivities": true,
        "showErrors": false,
        "logIOActivities": false,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "14",
        "quantity": "2",
        "server": "2e2a861098ab57de",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 430,
        "y": 360,
        "wires": [
            [
                "a967f153a330dca3"
            ],
            []
        ]
    },
    {
        "id": "a967f153a330dca3",
        "type": "buffer-parser",
        "z": "b6425e9b5cb50dc2",
        "name": "WP converter",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Spannung",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 640,
        "y": 360,
        "wires": [
            [
                "0ca7175b02a6c10d"
            ]
        ]
    },
    {
        "id": "e91083c27909a2f9",
        "type": "influxdb out",
        "z": "b6425e9b5cb50dc2",
        "influxdb": "7066300741c707c9",
        "name": "Frequenz",
        "measurement": "Frequenz",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 880,
        "y": 300,
        "wires": []
    },
    {
        "id": "0ca7175b02a6c10d",
        "type": "influxdb out",
        "z": "b6425e9b5cb50dc2",
        "influxdb": "7066300741c707c9",
        "name": "Spannung",
        "measurement": "Spannung",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 890,
        "y": 360,
        "wires": []
    }
]